<div class="row bg-primary" id="about">
  <h2 class="text-center custom-title">
    <span>Принципы работы</span>
  </h2>
  <div class="col-sm-3 text-center">
    <img class="img-responsive" src="assets/icons/1.png">
    <h4>Тонкое чувство юмора</h4>
  </div>
  <div class="col-sm-3 text-center">
    <img class="img-responsive" src="assets/icons/1.png">
    <h4>Тонкое чувство юмора</h4>
  </div>
  <div class="col-sm-3 text-center">
    <img class="img-responsive" src="assets/icons/1.png">
    <h4>Тонкое чувство юмора</h4>
  </div>
  <div class="col-sm-3 text-center">
    <img class="img-responsive" src="assets/icons/1.png">
    <h4>Тонкое чувство юмора</h4>
  </div>
</div>