<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h2>Ваша заявка отправлена!</h2>
  <p>Мы перезвоним вам в течении 10 минут!</p>
</div>