$btn-info-bg: #945fba;
$btn-info-border: #493061;
$carousel-text-shadow: 0 1px 0 rgb(135, 87, 189);

$alert-success-bg: #945fba;
$alert-success-border: #493061;
$alert-success-text: #fff;

$bg-primary: #ecebe9;